$nav-icon_size: 22;
$nav-fonts:21;
*{
    padding: 0;
}
.globle_icon{
    width: $nav-icon_size*1px;
    height: $nav-icon_size*1px;
    position: relative;
    top: 0.3rem;
}
input{
    outline: none;
}
#language{
    width: 3.1rem;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    background-color: ghostwhite;
}
.form_nav{
    display: flex;
    justify-content: space-between;
    width: 70rem;
    padding-bottom: 1rem;
    margin-left: 8rem;

}
nav{
    background-color: ghostwhite;
    padding: 1rem;
}
::-webkit-input-placeholder{
    color: black;
    font-size: 1rem;
}
#text{
    width: 42rem;
    padding: 0.3rem;
    background-color: ghostwhite;
    outline: none;
    border: none;
    margin-top: 0.2rem;
    border-left-color: black;
    border-left-style: solid;
    border-width: 0.4px;
}
.search_icon{
    width: $nav-icon_size*1px;
    height: $nav-icon_size*1px;
    position: relative;
    top: 0.3rem;
    color: blue;
    cursor: pointer;
}
@mixin NavButton{
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 7px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 1rem;
}
.nav_log{
 @include NavButton();
background-color: white;
border:0.3px solid #fb7c58;

}
.nav_get{
    @include NavButton();
    border:0.3px solid #fb7c58;
    background-color: #fb7c58;
    color: white ;
}
.nav_button{
    display: flex;
    gap: 10px;
    // padding-top: 5px;
}
.selection_logo{
    width: 20rem;
}
.section{
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.section_sct{
    display: flex;
    gap: 1rem;
}

$select_border:none;

#select{
    border: $select_border;
    font-size: $nav-fonts*1px;
    outline: $select_border;
}
option{
    outline: $select_border;
}
.selection_img{
    width: 7rem;
    cursor: pointer;
}
.main{
    background-color: #fff1ee; 
    margin-top: 1rem;
    padding: 5rem;  
}
.main_block{
    display: flex;
    justify-content: space-between;
    width: 70rem;
    margin: 0 auto;
}
.texts_header{
    font-size: 2rem;
    width: 15rem;
    font-weight: 500;
}
.texts_text{
    font-size:16px;
    width: 20rem;
}
.texts_btn{
    border: $select_border;
    padding-top: 16px;
    padding-left: 25px;
    padding-bottom: 16px;
    padding-right: 25px;
    font-size: 1rem;
    color: white;
    background-color: #fb7c58;
    cursor: pointer;
}
.texts_span{
    width: 10rem;
}
.main_photo{
    width: 35rem;
}
.see_none{
    display:$select_border ;
}
.form_div{
    display: flex;
    flex-direction: column;
}
.form_user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 0 auto;
    gap: 1rem;
}
.inp{
    width: 10rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px ;
    padding-bottom:5px ;
}
.form_div{
    display: flex;
    gap: 0.5rem;
}
.form_btn{
    width: 10rem;
    padding: 0.4rem;
    cursor: pointer;
    @include NavButton();
    border: 1px solid #fb7c58;
    background-color: wheat;
    color: blue;
}
